<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VKD</title>
    </head>
   
     <body>
            <h1>Website is under maintenance</h1>         
         <p>We will be right back</p>
    </body>
</html>